.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem ;
    background-color: #0b0b0b;
    color: #fff;
    border-bottom: 0.5px solid #474747 ;
    font-size: 4px;
   
    z-index: 10;
  }
  
  .logo a {
    color: #fff;
    text-decoration: none;
  }
  
  .nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .nav a {
    color: rgb(85, 85, 85);
    text-decoration: none;
    font-size: 13px;
  }
  

  .nav a.active-link {
    color: #fff;  /* Color for active link */
  }
